@page "/useraccounts"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using LCMS.Models
@using LCMS.Services.Interfaces
@using LCMS.Blazor.Components.Pages.BaseClasses
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@attribute [Authorize(Roles = "Admin")]
@inherits AuthenticatedPageBase

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-sm-6">
        <h1>
            <i class="fa-regular fa-file-contract"></i>
            User Accounts
            <span class="badge rounded-pill bg-secondary">@models.Count</span>
        </h1>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-10 text-end px-0">
                <input type="search" class="form-control" @bind="userNameFilter" @bind:event="oninput" placeholder="Filter by UserName..." />
            </div>
            <div class="col-2 text-end">
                <a class="btn btn-primary" href="useraccounts/create">
                    <i class="fa-regular fa-add"></i>
                    Create New
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <QuickGrid Class="table" Items="FilteredModels" Pagination="pagination">
        <PropertyColumn Property="model => model.UserName" Sortable="true" />
        <PropertyColumn Property="model => model.IsActive" Sortable="true" />
        <PropertyColumn Property="model => model.IsDeleted" Sortable="true" />
        <TemplateColumn Context="model">
            <div style="text-align: right;">
                <a class="btn btn-outline-secondary" href="@($"useraccounts/details?id={model.Id}")" title="Details">
                    <i class="fa-regular fa-eye"></i>
                </a>
                <a class="btn btn-outline-primary" href="@($"useraccounts/edit?id={model.Id}")" title="Edit">
                    <i class="fa-regular fa-pencil"></i>
                </a>
                <a class="btn btn-outline-danger" href="@($"useraccounts/delete?id={model.Id}")" title="Delete">
                    <i class="fa-regular fa-trash"></i>
                </a>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="pagination" />

@code {
    private List<UserAccountModel> models = new();
    private string userNameFilter = string.Empty;
    private IQueryable<UserAccountModel> FilteredModels => models.Where(x => x.UserName.Contains(userNameFilter)).AsQueryable();
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        var service = ServiceProvider.GetRequiredService<IUserAccountService>();
        models = service.GetUserAccounts();

        await base.OnInitializedAsync();
    }
}
