@page "/contracts"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid
@using LCMS.Models
@using LCMS.Services.Interfaces
@using LCMS.Blazor.Components.Pages.BaseClasses
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@attribute [Authorize]
@inherits AuthenticatedPageBase

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-sm-6">
        <h1>
            <i class="fa-regular fa-file-contract"></i>
            Contracts
            <span class="badge rounded-pill bg-secondary">@models.Count</span>
        </h1>
    </div>
    	<div class="col-sm-6">
		<div class="row">
			<div class="col-10 text-end px-0">
                <input type="search" class="form-control" @bind="titleFilter" @bind:event="oninput" placeholder="Filter by Title..." />
			</div>
			<div class="col-2 text-end">
				<a class="btn btn-primary" href="contracts/create">
                    <i class="fa-regular fa-plus"></i>
                    Create New
                </a>
			</div>
		</div>
	</div>
</div>
<hr />
<div>
    <QuickGrid Class="table" Items="FilteredModels" Pagination="pagination">
        <PropertyColumn Property="model => model.Title" Sortable="true" />
        <PropertyColumn Property="model => model.ClientName" Sortable="true" />
        <PropertyColumn Property="model => model.ContractType" Sortable="true" />
        <PropertyColumn Property="model => model.Status" Sortable="true" />
        <PropertyColumn Property="model => model.IsActive" Sortable="true" />
        <TemplateColumn Context="model">
            <div style="text-align: right;">
                <a class="btn btn-outline-secondary" href="@($"contracts/details?id={model.Id}")" title="Details">
                    <i class="fa-regular fa-eye"></i>
                </a>
                <a class="btn btn-outline-primary" href="@($"contracts/edit?id={model.Id}")" title="Edit">
                    <i class="fa-regular fa-pencil"></i>
                </a>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <a class="btn btn-outline-danger" href="@($"contracts/delete?id={model.Id}")" title="Delete">
                            <i class="fa-regular fa-trash"></i>
                        </a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="pagination" />

@code {
    private List<ContractModel> models = new();
    private string titleFilter = string.Empty;
    private IQueryable<ContractModel> FilteredModels => models.Where(x => x.Title.ToLower().Contains(titleFilter)).AsQueryable();
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        var service = ServiceProvider.GetRequiredService<IContractService>();
        models = service.GetContracts();

        await base.OnInitializedAsync();
    }
}
