@page "/users"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@using LCMS.Models
@using LCMS.Services.Interfaces
@using LCMS.Blazor.Components.Pages.BaseClasses
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@inherits AuthenticatedPageBase

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-sm-6">
        <h1>Users <span class="badge rounded-pill bg-secondary">@models.Count</span></h1>
    </div>
    <div class="col-sm-6 text-end">
        <input type="search" @bind="nameFilter" @bind:event="oninput" placeholder="Filter by Name..." />
        <a class="btn btn-sm btn-primary" href="users/create">Create New</a>
    </div>
</div>
<hr />
<div>
    <QuickGrid Class="table" Items="FilteredModels" Pagination="pagination">
        <PropertyColumn Property="user => user.FullName" Sortable="true" />
        <PropertyColumn Property="user => user.Type" Sortable="true" />
        <PropertyColumn Property="user => user.EmailAddress" Sortable="true" />
        <PropertyColumn Property="user => user.City" Sortable="true" />
        <PropertyColumn Property="user => user.Region" Sortable="true" />
        <PropertyColumn Property="user => user.Country" Sortable="true" />
        <PropertyColumn Property="user => user.PhoneNumber" Sortable="true" />
        <PropertyColumn Property="user => user.IsActive" Sortable="true" />
        <TemplateColumn Context="model">
            <div style="text-align: right;">
                <a class="btn btn-outline-secondary" href="@($"users/details?id={model.Id}")">Details</a>
                <a class="btn btn-primary" href="@($"users/edit?id={model.Id}")">Edit</a>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <a class="btn btn-danger" href="@($"users/delete?id={model.Id}")">Delete</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="pagination" />

@code {
    private List<UserModel> models = new();
    private string nameFilter = string.Empty;
    private IQueryable<UserModel> FilteredModels => models.Where(x => x.FullName.ToLower().Contains(nameFilter)).AsQueryable();
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        var service = ServiceProvider.GetRequiredService<IUserService>();
        models = service.GetUsers();

        await base.OnInitializedAsync();
    }
}
