@inherits LayoutComponentBase

<TelerikRootComponent>
	<div class="page">
		<main>
			<AuthorizeView>
				<Authorized>
					<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
						<div class="container-fluid">
							<img src="/images/brownstein-icon.png" style="height: 20px;" class="me-1" />
							<a class="navbar-brand" href="/">Contract Management</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									@*
									<li class="nav-item">										
										<a class="nav-link" href="/cases">
											<i class="fa-regular fa-folder-open" size="lg"></i> Cases
										</a>
									</li>
									*@
									<li class="nav-item">
										<a class="nav-link" href="/contracts">
											<i class="fa-regular fa-file-contract" size="lg"></i> Contracts
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/clients">
											<i class="fa-regular fa-user-tie" size="lg"></i> Clients
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/users">
											<i class="fa-regular fa-users" size="lg"></i> Users
										</a>
									</li>
									<AuthorizeView Context="UserAccounts" Roles="Admin">
										<Authorized>
											<li class="nav-item">
												<a class="nav-link" href="/useraccounts">
													<i class="fa-regular fa-user-secret" size="lg"></i> User Accounts
												</a>
											</li>
										</Authorized>
									</AuthorizeView>
								</ul>
								<form class="d-flex">
									<div class="input-group">
										<input class="form-control" type="search" placeholder="Search..." aria-label="Search">
										<button class="btn btn-outline-success" type="submit">Search</button>
									</div>
								</form>
								<a class="btn btn-outline-secondary ms-2" href="/logout">Logout</a>
							</div>
						</div>
					</nav>
				</Authorized>
			</AuthorizeView>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>

	<div id="blazor-error-ui">
		An unhandled error has occurred.
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>
</TelerikRootComponent>